ul {
    list-style-type: none;
}

li {
    margin: 20px;
}

input {
    margin-top: 20px;
}

.todo-button {
    margin: 10px;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
}

.edit-button {
    border: solid 1px dodgerblue;
    color: dodgerblue
}

.edit-button:hover {
    border: solid 1px yellow;
    color: yellow;
}

.delete-button {
    border: solid 1px darkorange;
    color: darkorange;
}

.delete-button:hover {
    border: solid 1px yellow;
    color: yellow;
}